.fake-header
.container
  .row.mt-5
    .col-3
      = render 'layouts/left_content'
    .col-9
      #v-pills-tabContent.tab-content
        = render 'profile'
        = render 'article', {user: @user}
