%nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    %a.navbar-brand{:href => "index.html"} Start Bootstrap
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      Menu
      %i.fas.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => "index.html"} Home
        %li.nav-item
          %a.nav-link{:href => "about.html"} About
        %li.nav-item
          %a.nav-link{:href => "post.html"} Sample Post
        %li.nav-item
          %a.nav-link{:href => "contact.html"} Contact
/ Page Header
%header.masthead{:style => "background-image: url('/template_assets/img/home-bg.jpg')"}
  .overlay
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Clean Blog
          %span.subheading A Blog Theme by Start Bootstrap
